body, html {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif;
  color: #F2F4F3;
}

body {
  background-color: #1B2021;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #F2F4F3;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  margin-top: 5vh;
}

.btn-flip:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #1B2021;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background: #FFD400;
  content: attr(data-back);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #F2F4F3;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: #ef767a;
  content: attr(data-front);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  white-space: nowrap;
  display: block;
  width: 20px;
  height: 20px;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.aboutMe .desc {
  margin-left: 10px;
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desc ul {
  list-style-type: none;
}

.desc ul li {
  margin: 10px;
}

.desc ul .liHeader {
  text-transform: uppercase;
  color: #FFD400;
  font-weight: bold;
}

.li-wrapper {
  height: 15px;
}

.nav-item {
  list-style-type: none;
}

.language {
  float: right;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin: 9 auto;
  margin-top: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  justify-items: center;
}

.cell {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */