//  "out": "style.css"

@font-face {
  font-family: 'nexa_boldregular';
  src: url('../../fonts/nexa_bold-webfont.woff2') format('woff2'),
  url('../../fonts/nexa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600,500,700,800');

@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans');
html {
  width: 100%;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.icons {
  padding: 34px 185px 20px 204px;
  display: flex;
  justify-content: space-between;
  img {
    width: 210px;
    height: 42px;
  }
  .icoWrap {
    display: flex;
    justify-content: space-between;
    .pWrap {
      padding-top: 5px;
      p {
        display: inline;
        margin: 0;
        line-height: 22px;
      }
    }
    .workT, .mailUs, .callUs {
      .bold {
        color: #6a6a6a;
        font-size: 15px;
        font-weight: 700;
      }
      .light_compact {
        display: none;
      }
      .light {
        color: #6a6a6a;
        font-weight: 400;
        font-size: 15px;
      }
      div {
        height: 51px;
        float: left;
      }
    }
    .workT, .mailUs {
      margin-right: 15px;
    }
  }
}

.blueCircle {
  position: relative;
  width: 51px;
  height: 51px;
  background-color: #1a9bdc;
  border-radius: 50%;
  margin-right: 19px;
  i {
    color: #fff;
  }
  .tele {
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
  }
  .mail {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .clock {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

hr {
  width: 1190px;
  height: 2px;
  background-color: #c2c2c2;
  opacity: 0.31;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 33px 190px;
  .lnkWrap {
    a {
      font-family: "nexa_boldregular", sans-serif;
      text-decoration: none;
      color: #6c6c6c;
      font-size: 20px;
      font-weight: 400;
    }
    a:not(:last-child) {
      margin-right: 28px;
    }
    a:hover {
      color: #262626;
    }
  }
  .menuIcons {
    a {
      text-decoration: none;
      color: #191919;
      i {
        transform: scale(0.75);
      }
    }
    a:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.banner {
  overflow-x: hidden;
  position: relative;
  padding: 180px 0 0 250px;
  height: 460px;
  section {
    position: relative;
    z-index: 9999;
    h1 {
      margin: 0 0 35px 0;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      width: 540px;
      color: #474747;
      font-size: 46px;
      font-weight: 600;
      letter-spacing: -1.19px;
    }
    p {
      width: 430px;
      color: #3f3f3f;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      margin: 0 0 0 50px;
    }
    .readBtn {
      width: 166px;
      height: 47px;
      border-radius: 30px;
      background-color: #0087be;
      box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
      text-align: center;
      line-height: 47px;
      margin-left: 169px;
      margin-top: 37px;
      span {
        display: inline-block;
        width: 126px;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        vertical-align: middle;
      }
    }
  }
}

.services {
  min-height: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .item-1 {
    background-color: #43b1d2;
  }
  .item-2 {
    background-color: #3fb6c6;
  }
  .item-3 {
    background-color: #3cbbbb;
  }
  .item-4 {
    background-color: #37c3a8;
  }
  .service_item {
    padding-top: 74px;
    .whiteCircle {
      position: relative;
      margin: 0 auto;
      width: 75px;
      height: 75px;
      background-color: #fff;
      border-radius: 50%;
      img {
        position: absolute;
      }
    }
    h2 {
      text-align: center;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1px;
    }
    p {
      width: 264px;
      margin: 0 auto;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
  }
}

.serv_icon1 {
  top: 15px;
  left: 20px;
}

.serv_icon2 {
  top: 15px;
  left: 13px;
}

.serv_icon3 {
  top: 10px;
  left: 23px;
}

.serv_icon4 {
  top: 15px;
  left: 17px;
}

.reasons {
  background-color: #fff;
  padding-top: 111px;
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  p {
    max-width: 880px;
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 25px auto;
  }
}

.reason_item {
  width: 370px;
  height: 180px;
  img {
    float: left;
    margin-right: 19px;
  }
  h3 {
    margin: 91px 0 20px 0;
    height: 75px;
    line-height: 75px;
    color: #6f6f6e;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
  }
  p {
    width: 363px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.reason_contentWrap {
  display: flex;
  justify-content: center;
  div {
    max-height: 598px;
  }
}

.reasons_col_2 img {
  margin: 0 81px 0 43px;

}

.statistics {
  display: flex;
  justify-content: space-between;
  padding: 160px 240px 0 240px;
  height: 432px;
  background: url(../../img/medicare_img/statistics_bg.png) no-repeat, #0087be;
  background-blend-mode: multiply;
}

.stat_content {
  width: 160px;
  height: 272px;
  img {
    display: block;
    margin: 0 auto 35px auto;
    width: 91px;
    height: 80px;
    object-fit: contain;
  }
  span {
    display: inline-block;
    width: 160px;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: center;
  }
  .shortLine {
    width: 84px;
    height: 6px;
    background-color: #ffffff;
    margin: 26px auto;
  }
  p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
  }
}

.workFlow {
  padding: 100px 195px 0 195px;
  min-height: 793px;
  background-color: #fff;
  p {
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.work_block1 {
  max-width: 715px;
  min-height: 694px;
  h2 {
    margin: 0 0 38px 0;
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
  }
  p {
    margin: 0 0 50px 0;
  }
  .workFlow_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    font-family: 'Montserrat', sans-serif;
    div span:first-child {
      letter-spacing: -1px;
      font-weight: 500;
      font-size: 20px;
      color: #6f6f6e;
    }
    div span:nth-child(2) {
      display: inline-block;
      color: #0087be;
      font-weight: 500;
      letter-spacing: -0.38px;
      margin-top: 12px;
    }
    p {
      margin: -13px 0 0 0;
    }
  }
  a {
    display: block;
    width: 154px;
    height: 43px;
    margin: 15px auto;
  }
  .BtnLink {
    width: 154px;
    height: 43px;
    border-radius: 30px;
    background-color: #0087be;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    text-align: center;
    line-height: 43px;
    span {
      display: inline-block;
      width: 126px;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      vertical-align: middle;
    }
  }
}

.work_block2 {
  width: 422px;
  height: 609px;
  h2 {
    margin: 0 0 38px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 800;
  }
  p {
    margin: 0 0 50px 0;
  }
  button {
    display: flex;
    background-color: #e2e2e2;
    width: 422px;
    height: 54px;
    border-radius: 27px;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      margin: 7px 20px 0 7px;
    }
    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #494949;
      line-height: 54px;
    }
  }
  button:not(:last-child) {
    margin-bottom: 12px;
  }
}

.workFlow_wrap {
  display: flex;
  justify-content: space-between;
}

.collapsible {
  outline: none;
  border: none;
}
.work_block2 .active, .collapsible:hover {
  background-color: #0087be;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0;
  width: 410px;
  height: 120px;
  margin: 0 0 40px 0;
}

.gallery {
  min-height: 638px;
  padding: 94px 250px;
  background: url(../../img/medicare_img/gallery_bg.png), #38b69e no-repeat;
  background-blend-mode: color-burn;
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0 50px 0;
    text-align: center;
    color: #ffffff;
  }
  .galleryWrap {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
  }
}

.ourTeam {
  min-height: 769px;
  background-color: #fff;
  padding: 148px 190px 0 190px;
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }
  p {
    font-family: "Open Sans", sans-serif;
    color: #6a6a6a;
    max-width: 1095px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 45px auto 80px auto;
    text-align: center;
  }
  .facesWrap {
    display: flex;
    justify-content: space-between;
    div {
      span {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #6f6f6e;
        text-align: center;
      }
      span:nth-child(2) {
        font-size: 25px;
        margin-top: 35px;
      }
      span:nth-child(3) {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 25px;
      }
    }
  }
}

.social {
  margin: 0 auto;
  width: 110px;
  text-align: center;
  i {
    text-decoration: none;
    color: #0087be;
    transform: scale(0.7);
  }
}

.specialOffer {
  display: flex;
  justify-content: flex-end;
  min-height: 54px;
  background-color: #e2e2e2;
  padding: 61px 220px;
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    margin: 0 77px 0 0;
  }
  a {
    width: 192px;
    height: 54px;
  }
  .offerBtn {
    width: 192px;
    height: 54px;
    border-radius: 30px;
    background-color: #0087be;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    text-align: center;
    line-height: 54px;
    span {
      display: inline-block;
      width: 150px;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      vertical-align: middle;
    }
  }
}

.info {
  min-height: 512px;
  background-color: #171717;
  padding: 115px 223px 0 223px;
}

.copyright {
  min-height: 116px;
  background-color: #1a1a1a;
  p {
    font-family: "Open Sans", sans-serif;
    color: #615555;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.33px;
    text-align: center;
    margin: 0;
    line-height: 116px;
  }
}

.info  {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

.info h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 70px 0;
}

.info span, ul, ul li a {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.51;
  line-height: 24px;
  font-weight: 400;
}

.touchWrap div img {
  margin: 5px 45px 60px 0;
}

.touchWrap div:nth-child(2) img {
  margin-right: 58px;
}
.touchWrap div:nth-child(3) img {
  margin-right: 47px;
}

.touchWrap div {
  display: flex;
}

.touchIcons a {
  color: #ffffff;
  text-decoration: none;
  i {
    transform: scale(0.7);
  }
}

.touchIcons a:not(:last-child) {
  margin-right: 15px;
}

.info ul {
  list-style-image: url(../../img/medicare_img/list_point.png);
  opacity: 1;
  padding-left: 20px;
}

.info ul li a {
  text-decoration: none;
  opacity: 0.51;
  line-height: 38px;
}

.input {
  display: block;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #5f5f5f;
  background: transparent;
  width: 230px;
  line-height: 40px;
  font-size: 16px;
  color: #707070;
}

.input:not(:last-child) {
  margin-bottom: 18px;
}

.inp_textarea {
  height: 100px;
  resize: none;
}

.input:focus {
  border-color: #c2c2c2;
}

.form form button {
  margin-top: 10px;
  width: 125px;
  height: 35px;
  box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #0087be;
  border-radius: 17.5px;
  border: none;
  span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    font-size: 14px;
    color: #ffffff;
    opacity: 1;
  }
}

i {
  size: 7px;
}